<!-- Back to top -->
<div (window:scroll)="windowScroll()">
  <!-- note :  [ngxScrollTo] est une directive cf https://angular.io/guide/attribute-directives -->
<a [ngxScrollTo]="'#home-page'" class="back-to-top link" id="back-to-top">
  <i class="ti-angle-up"> </i>
</a>
</div>

<!-- Style switcher -->
<!-- FIXME add condition on style depending on if its open or not-->
<div id="style-switcher" (click)="toggleSettings()">
    <div>
        <h3>Select your color</h3>
      <!-- FIXME *ngFor with function 's call on click button -->
        <ul class="pattern">
            <li>
                <a class="color1" (click)="setTheme('blue')"></a>
            </li>
            <li>
                <a class="color2" (click)="setTheme('pink')"></a>
            </li>
            <li>
                <a class="color3" (click)="setTheme('yellow')"></a>
            </li>
            <li>
                <a class="color4" (click)="setTheme('green')"></a>
            </li>
            <li>
                <a class="color5" (click)="setTheme('purple')"></a>
            </li>
            <li>
                <a class="color6" (click)="setTheme('default')"></a>
            </li>
        </ul>
    </div>
    <div class="bottom">
        <a class="settings link">
          <i class="ti-settings ti-spin"></i>
        </a>
    </div>
</div>
<!-- end Style switcher -->
