<!-- Back to top -->
<div (window:scroll)="windowScroll()">
  <!-- note :  [ngxScrollTo] est une directive cf https://angular.io/guide/attribute-directives -->
<a [ngxScrollTo]="'#home-page'" class="back-to-top link" id="back-to-top">
  <i class="ti-angle-up"> </i>
</a>
</div>

<!-- Style switcher -->
<!-- FIXME add condition on style depending on if its open or not-->
<div id="style-switcher">
    <div>
        <h3>Select your color</h3>
      <!-- FIXME *ngFor with function 's call on click button -->
        <ul class="pattern">
            <li>
                <a class="color1"></a>
            </li>
            <li>
                <a class="color2"></a>
            </li>
            <li>
                <a class="color3"></a>
            </li>
            <li>
                <a class="color4"></a>
            </li>
            <li>
                <a class="color5"></a>
            </li>
            <li>
                <a class="color6"></a>
            </li>
        </ul>
    </div>
    <div class="bottom">
        <a class="settings link">
          <i class="ti-settings ti-spin"></i>
        </a>
    </div>
</div>
<!-- end Style switcher -->
