<!-- Back to top -->
<div (window:scroll)="windowScroll()">
  <!-- note :  [ngxScrollTo] est une directive cf https://angular.io/guide/attribute-directives -->
<a [ngxScrollTo]="'#home-page'" class="back-to-top link" id="back-to-top">
  <i class="ti-angle-up"> </i>
</a>
</div>

<!-- Style switcher -->
<!-- FIXME add condition on style depending on if its open or not-->

<!-- autre méthode pour le toggle -->
<!-- <div id="style-switcher" [style]="isVisible ? 'left: 0' : 'left: -189px'" (click)="toggleSettings()"> -->
<div id="style-switcher"  (click)="toggleSettings()">
    <div>
        <h3>Select your color</h3>
      <!-- FIXME *ngFor with function 's call on click button -->
        <ul class="pattern">
            <li *ngFor="let theme of themes">
                <a [ngClass]="'color' + theme.colorId" (click)="setTheme(theme.name)"></a>
            </li>
        </ul>
    </div>
    <div class="bottom">
        <a class="settings link">
          <i class="ti-settings ti-spin"></i>
        </a>
    </div>
</div>
<!-- end Style switcher -->
