<section class="bg-login d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-lg-4">
                <div class="bg-white p-4 rounded">
                    <div class="text-center">
                        <h4 class="fw-bold mb-3">Error :( </h4>
                        <a [routerLink]="'/home-page'" class="btn btn-primary">Back Home</a>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <p><small class="text-white me-2">We're sorry for that we'll try to fix it soon !</small></p>
                </div>
            </div>
        </div>
    </div>
</section>

